body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --textColor1: #008cff;
}

.user_details {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0) 0%, rgba(34, 195, 4, 0.9699230033810399) 54%, rgba(9, 38, 121, 1) 100%, rgba(121, 5, 174, 1) 100%, rgba(13, 9, 9, 0.9867297260701156) 100%, rgba(6, 101, 157, 1) 100%);
}

h2 {
    text-align: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-grad {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%)
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 90%;

}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.postContainer {
    display: flex;
    flex-wrap: wrap;
}

.mainDivButton {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post {
    text-align: center;
    text-shadow: 1px 1px 1px red;
}

.postButton {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%)
}

.postButton {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.postButton:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


