body {
    margin: 0;
    box-sizing: border-box;
    background: #303c30
}

.container {
    display: flex;
    flex-direction: column;
}

.background_color {
    background: #686868;
}

.position_and_gap {
    display: flex;
    column-gap: 10px;
}

.position_row_gap {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.width30 {
    width: 30%;
}

.width70 {
    width: 70%;
}

.width100 {
    width: 100%;
    padding: 20px 0;
}

.width30 > p:nth-child(1) {
    color: #ff2f2f;
    text-align: center;
}

.width30 > p:nth-child(2) {
    color: white;
    text-align: center;
}

.width70 > p:nth-child(1) {
    color: #ff2f2f;
    text-align: center;
}

.width70 > p:nth-child(2) {
    color: white;
    text-align: center;
}

.width100 > p:nth-child(1) {
    color: #ff2f2f;
    text-align: center;
}

.width100 > p:nth-child(2) {
    color: white;
    text-align: center;
}

.padding150 {
    padding: 150px 0;
}

.padding150 > p:nth-child(1) {
    color: #ff2f2f;
    text-align: center;
}

.padding150 > p:nth-child(2) {
    color: white;
    text-align: center;
}


.first_letter_p > p::first-letter {
    color: #ff2f2f;
    text-align: center;
}

.first_letter_p > p {
    color: white;
    text-align: center;
    padding: 10px;

}

.padding10 {
    padding: 10px;
}

.padding90 {
    padding: 90px 0;
}

.height40 {
    height: 40%;
}

.height60 {
    height: 60%;
}

.position_p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.position_p > p:nth-child(1) {
    color: #ff2f2f;
    text-align: center;
}

.position_p > p:nth-child(2) {
    color: white;
    text-align: center;
}

@media screen and (min-width: 0px ) and (max-width: 992px) {
    .position_and_gap {
        column-gap: 0;
        flex-flow: wrap;
        display: flex;
        flex-direction: row;
        row-gap: 10px;
    }

    .padding150 {
        padding: 0;
    }

    .height40 {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .position_on_media {
        display: flex;
        flex-direction: column;
    }
    .col8{
        order:6;
    }


}

