.hidden {
    display: none;
    color: chocolate;
}
#nav {
    height: 100px;
    width: 100%;
}
.background{
    background: chocolate;
}
.position{
    gap:20px 20px
}
.background>p{
    text-align: center;
    color: black;
}